.btn {
  min-height: 44px;
  min-width: 80px;
  background-color: #212322;
  border: none;
  color: white;
  padding: 0.87rem 2.5rem;
}
@media (prefers-reduced-motion: no-preference) {
  .btn {
    -webkit-transition: all 180ms ease-in-out;
    transition: all 180ms ease-in-out;
  }
}
.btn:hover {
  background-color: hsl(0deg, 0%, 60%);
}
.btn:focus {
  background-color: blue;
}

.product-page {
  margin: 0 auto;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__media {
  background: #eeeeee;
}

@media only screen and (min-width: 500px) {
  .product-page {
    max-width: 1000px;
  }
}
.product-page-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.product-page-toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0;
}

#card-gallery {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.card__media {
  border: solid 2px #000;
  outline-color: solid 2px #000;
  width: 150px;
  height: 150px;
  background-color: pink;
}
@media (prefers-reduced-motion: no-preference) {
  .card__media {
    -webkit-transition: opacity 180ms ease-in-out;
    transition: opacity 180ms ease-in-out;
  }
}
.card__media:hover {
  opacity: 75%;
  border-color: blue;
}

body {
  margin: 0 auto;
}

.banner {
  font-weight: 600;
  color: #fff;
  margin: 0;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0;
}

.project-title {
  background: #212322;
}

.site-text {
  background: #00a45a;
}

.page-title {
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px;
  margin: 0;
  padding: 5px 0;
  text-align: center;
}

.app {
  padding: 0 20px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}