.btn {
align-items: center;
background-color:  #696969;
border: 1px solid  #696969;
border-radius: 4px;
bottom: 0px;
box-sizing: border-box;
color:  #ffffff;
cursor: pointer;
display: flex;
font: 600 13.328px / 16.3934px Inter, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
gap: 0.25rem;
height: 32px;
justify-content: center;
left: 0px;
line-height: 16.3934px;
list-style: outside none none;
padding-left: 16px;
padding-right: 16px;
position: relative;
right: 0px;
text-align: center;
top: 0px;
white-space: nowrap;
}