.title-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px;
}
.app {
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  .game-holder {
    width: 150px;
    margin-bottom: 30px;
    border-bottom: solid 1px #000;
    h4 {
    }

    .brief-rating {
      // display: flex;
      font-size: 10px;
    }

    .brief-des {
      margin-bottom: 10px;
    }
  }
}
