// media breakpoints
$sm: 500px;
$md: 700px;
$lg: 960px;

// colors
$colors-surface000: #fafafa;
$colors-surface001: #f9f9f9;
$colors-surface002: #eeeeee;
$colors-surface003: #dbdbdb;
$colors-surface005: hsl(0, 0%, 60%);
$colors-surface006: #212322;
$colors-blue: rgb(0, 0, 255);